* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 1920px;
    height: 1644px;
    margin: auto;
    margin-top: 50px;
}

.card-container {
    text-align: center;
}

.card {
    width: 480px;
    height: 769px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
    background: white;
}

.image-box, .description-box {
    margin: auto;
}

.image-box {
    width: 448px;
    height: 669px;
    margin-top: 15px;
}

.image-box img {
    width: 100%;
    height: 100%;
}

.hover-img {
    display: none;
}

.image-box:hover .hover-img {
    display: initial;
}

.image-box:hover .standard-img {
    display: none;
}

.description-box {
    width: 448px;
    height: 63px;
    margin-top: 10px;
    font-weight: 300;
    text-align: left;
}

.price {
    font-weight: 500;
    color: red;
}

#old-price {
    text-decoration: line-through;
    color: black;
}
